html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #262626; }

html {
  font-size: 24px; }
  @media screen and (max-width: 1920px) {
    html {
      font-size: 18px; } }
  @media screen and (max-width: 1680px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 1200px) {
    html {
      font-size: 18px; } }
  @media screen and (max-width: 1100px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 1000px) {
    html {
      font-size: 12px; } }

p {
  margin: 0; }

a {
  text-decoration: none; }

input, button {
  outline: none; }

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*padding-bottom: rem(50);*/
  min-height: 100vh; }
  .container .main-block {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1043px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .container .main-block .header {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0.75rem 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 5rem;
      position: relative; }
      .container .main-block .header a {
        color: #e5e5e5;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: 700;
        text-decoration: none; }
        .container .main-block .header a:hover {
          color: #67c32e; }
        .container .main-block .header a:first-child {
          height: 100%; }
        .container .main-block .header a img {
          height: 100%; }
    .container .main-block .middle-block {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .container .main-block .middle-block .main-title {
        margin-top: 10px;
        color: #67c32e;
        font-size: 4.2rem;
        font-weight: 700;
        line-height: 1; }
      .container .main-block .middle-block .main-subtitle {
        color: #848485;
        font-size: 3.2rem;
        line-height: 1; }
      .container .main-block .middle-block .title {
        color: #e5e5e5;
        font-size: 2.2rem;
        line-height: 2;
        font-weight: 700; }
      .container .main-block .middle-block .subtitle {
        color: #e5e5e5;
        font-size: 1.2rem; }
      .container .main-block .middle-block .left-side {
        width: 60%; }
        .container .main-block .middle-block .left-side img {
          width: 100%; }
      .container .main-block .middle-block .komodo-startpage {
        margin-bottom: 30px;
        cursor: pointer; }
      .container .main-block .middle-block .right-side {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        width: 30%; }
        .container .main-block .middle-block .right-side .info-block {
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          border: 2px solid #313131;
          background-color: #262626;
          padding: 10px 15px;
          margin-bottom: 15px;
          border-radius: 3px;
          height: 4.5rem; }
          .container .main-block .middle-block .right-side .info-block p {
            color: #e5e5e5;
            font-size: 0.9rem;
            font-weight: 500; }
          .container .main-block .middle-block .right-side .info-block img {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 20px; }
  .container .footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*position: fixed;
		left: 0px;
		bottom: 0px;*/
    background-color: #313131;
    height: 2.5rem; }
    .container .footer .footer-text {
      cursor: pointer;
      color: #848485;
      font-size: 0.9rem;
      padding: 0 10px;
      border-right: 1px solid #848485;
      text-decoration: none; }
      .container .footer .footer-text:last-child {
        border-right: none;
        cursor: default; }
      .container .footer .footer-text:hover {
        color: #fff; }

.two-column-layout .main-block .header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .two-column-layout .main-block .header img {
    height: 100%; }

.two-column-layout .two-column-layout-column-1 {
  margin-right: 15px;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.two-column-layout .two-column-layout-column-2 {
  width: 70%; }
  .two-column-layout .two-column-layout-column-2 .buy-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px; }
    .two-column-layout .two-column-layout-column-2 .buy-buttons .buy-button {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 3px;
      height: calc(13.5rem + 30px);
      background-color: #313131;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 1.5rem; }
      .two-column-layout .two-column-layout-column-2 .buy-buttons .buy-button p {
        color: #fff; }
      .two-column-layout .two-column-layout-column-2 .buy-buttons .buy-button .buy-button-name {
        font-size: 1.6rem;
        font-weight: 600; }
      .two-column-layout .two-column-layout-column-2 .buy-buttons .buy-button .buy-button-subtext {
        font-size: 1.2rem;
        height: 1.6rem; }
      .two-column-layout .two-column-layout-column-2 .buy-buttons .buy-button .buy-button-price {
        font-size: 2.1rem;
        font-weight: 700;
        margin-bottom: 1.25rem; }
      .two-column-layout .two-column-layout-column-2 .buy-buttons .buy-button .buy-button-buy {
        cursor: pointer;
        border: 3px solid #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 4.5rem;
        width: 100%;
        border-radius: 3px; }
        .two-column-layout .two-column-layout-column-2 .buy-buttons .buy-button .buy-button-buy p {
          font-size: 1.8rem;
          font-weight: 700; }
        .two-column-layout .two-column-layout-column-2 .buy-buttons .buy-button .buy-button-buy:hover {
          background-color: #848485; }
    .two-column-layout .two-column-layout-column-2 .buy-buttons .white-button {
      /*background-color: #67c32e;*/
      background-color: #fff;
      border-radius: 3px; }
      .two-column-layout .two-column-layout-column-2 .buy-buttons .white-button p {
        color: #313131; }
      .two-column-layout .two-column-layout-column-2 .buy-buttons .white-button .buy-button-buy {
        border: none;
        background-color: #67c32e; }
        .two-column-layout .two-column-layout-column-2 .buy-buttons .white-button .buy-button-buy p {
          color: #fff; }
        .two-column-layout .two-column-layout-column-2 .buy-buttons .white-button .buy-button-buy:hover {
          background-color: #67e34e; }
  .two-column-layout .two-column-layout-column-2 .text-block {
    padding: 0px 15px 15px; }
    .two-column-layout .two-column-layout-column-2 .text-block p {
      font-size: 0.9rem;
      color: #e5e5e5;
      word-break: break-all; }
    .two-column-layout .two-column-layout-column-2 .text-block .bold-text {
      font-weight: 700; }
    .two-column-layout .two-column-layout-column-2 .text-block .italic-text {
      font-style: italic; }
    .two-column-layout .two-column-layout-column-2 .text-block .cursor-text {
      cursor: pointer; }
    .two-column-layout .two-column-layout-column-2 .text-block .text-block_title {
      font-size: 1.7rem;
      font-weight: 700;
      color: #e5e5e5; }
    .two-column-layout .two-column-layout-column-2 .text-block .text-block_subtitle {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 15px; }
    .two-column-layout .two-column-layout-column-2 .text-block .text-block_center {
      text-align: center; }
    .two-column-layout .two-column-layout-column-2 .text-block .release-info-block {
      padding: 15px 0 15px 1.5rem; }
    .two-column-layout .two-column-layout-column-2 .text-block .text-block_note {
      margin: 15px 0; }
    .two-column-layout .two-column-layout-column-2 .text-block .text-block_list {
      padding-left: 20px; }
      .two-column-layout .two-column-layout-column-2 .text-block .text-block_list li {
        font-size: 0.9rem;
        color: #e5e5e5; }
  .two-column-layout .two-column-layout-column-2 .cart-row {
    padding: 15px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #313131;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px; }
    .two-column-layout .two-column-layout-column-2 .cart-row .cart-row_block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .two-column-layout .two-column-layout-column-2 .cart-row .cart-row_block input {
        width: 1.5rem;
        margin: 0 2rem;
        color: #e5e5e5;
        border-radius: 3px;
        height: 1.5rem;
        background-color: #848485;
        border: 1px solid #848485;
        padding: 3px 5px;
        font-size: 0.9rem;
        text-align: center;
        font-weight: 600; }
      .two-column-layout .two-column-layout-column-2 .cart-row .cart-row_block img {
        margin-right: 15px;
        width: 4rem;
        height: 3rem; }
  .two-column-layout .two-column-layout-column-2 .payment-methods-block {
    margin-top: 7.5rem; }
    .two-column-layout .two-column-layout-column-2 .payment-methods-block img {
      background-color: #313131; }
  .two-column-layout .two-column-layout-column-2 .text-block_margin {
    margin-top: 25px; }
  .two-column-layout .two-column-layout-column-2 .link-text {
    color: #3c91e6;
    cursor: pointer; }
    .two-column-layout .two-column-layout-column-2 .link-text:hover {
      text-decoration: underline; }
  .two-column-layout .two-column-layout-column-2 .comment-block {
    margin-bottom: 15px;
    border: 2px solid #313131;
    border-radius: 3px; }
    .two-column-layout .two-column-layout-column-2 .comment-block p:last-child {
      margin-top: 15px; }
  .two-column-layout .two-column-layout-column-2 .note-block {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 3px;
    background-color: #3c91e6; }
  .two-column-layout .two-column-layout-column-2 .versions-note {
    margin-top: 30px;
    padding: 25px 15px;
    margin-bottom: 30px; }
  .two-column-layout .two-column-layout-column-2 .two-column-layout-column-2_title {
    /*line-height: 1;*/
    padding-bottom: 30px;
    margin: 0 15px;
    border-bottom: 2px solid #313131;
    font-size: 1.7rem;
    font-weight: 700;
    color: #e5e5e5; }
  .two-column-layout .two-column-layout-column-2 .verison-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 2px solid #313131;
    padding: 15px 0px;
    margin: 0 15px; }
    .two-column-layout .two-column-layout-column-2 .verison-row .verison-row_name {
      color: #e5e5e5;
      font-size: 0.9rem;
      font-weight: 700; }
      .two-column-layout .two-column-layout-column-2 .verison-row .verison-row_name span {
        font-size: 0.6rem; }
    .two-column-layout .two-column-layout-column-2 .verison-row .verison-row_details {
      color: #3c91e6;
      font-size: 0.9rem;
      cursor: pointer; }

.options-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
  min-height: 1.75rem;
  margin-bottom: 15px; }
  .options-list a {
    cursor: pointer;
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none; }
    .options-list a:hover {
      color: #67c32e; }

.options-list_active a {
  color: #67c32e; }

.cart-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .cart-block span {
    font-size: 1.1rem;
    color: #fff; }
  .cart-block:hover span {
    color: #67c32e; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background-color: #313131;
  border: none;
  padding: 0px 15px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 3px;
  height: 4.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none; }
  .button p {
    color: #fff;
    font-size: 1.2rem;
    font-style: italic;
    text-align: left; }
  .button .button-text {
    font-size: 1.4rem;
    font-weight: 600;
    font-style: unset; }
  .button img {
    width: 1.25rem;
    margin-right: 10px; }
  .button:hover {
    background-color: #848485; }

.green-button {
  background-color: #67c32e; }
  .green-button:hover {
    background-color: #67e34e; }

.common-button_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .common-button_block .common-button_green {
    min-width: 5rem;
    height: 2.25rem;
    border: 2px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    background-color: #313131;
    font-weight: 600;
    margin: 20px 30px; }
    .common-button_block .common-button_green .common-button_green-text {
      color: #fff;
      font-size: 1rem; }
  .common-button_block .common-button_green-active {
    background-color: #67c32e;
    border-color: #67c32e; }

.my-account .right-side {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .my-account .right-side .options-list {
    padding: 0px; }

.my-account .left-side .text-block {
  padding: 0px 15px 15px; }
  .my-account .left-side .text-block .order-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .my-account .left-side .text-block p {
    font-size: 0.9rem;
    color: #e5e5e5; }
  .my-account .left-side .text-block .text-block_title {
    font-size: 1.7rem;
    font-weight: 700;
    color: #e5e5e5; }
  .my-account .left-side .text-block .text-block_subtitle {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 15px; }
  .my-account .left-side .text-block .italic-text {
    font-style: italic; }
  .my-account .left-side .text-block .cursor-text {
    cursor: pointer; }
  .my-account .left-side .text-block .link-text {
    color: #3c91e6;
    cursor: pointer; }
    .my-account .left-side .text-block .link-text:hover {
      text-decoration: underline; }
  .my-account .left-side .text-block .bold-text {
    font-weight: 700; }
  .my-account .left-side .text-block .text-block_list {
    padding-left: 20px; }
    .my-account .left-side .text-block .text-block_list li {
      text-align: left;
      font-size: 0.9rem;
      color: #e5e5e5; }
  .my-account .left-side .text-block .forgot-password {
    font-size: 0.8rem;
    margin-left: 12rem; }
  .my-account .left-side .text-block .release-info-block {
    padding: 15px 0 15px 1.5rem; }
  .my-account .left-side .text-block .input-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .my-account .left-side .text-block .input-block p {
      min-width: 9rem; }
    .my-account .left-side .text-block .input-block input {
      margin-left: 1rem;
      color: #e5e5e5;
      border-radius: 3px;
      height: 1.75rem;
      background-color: #313131;
      border: 1px solid #848485;
      padding: 5px 10px;
      font-size: 0.9rem; }
  .my-account .left-side .text-block .update-time {
    float: right; }

.my-account .left-side .cart-row {
  padding: 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px; }
  .my-account .left-side .cart-row .cart-row_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .my-account .left-side .cart-row .cart-row_block input {
      width: 1.5rem;
      margin: 0 2rem;
      color: #e5e5e5;
      border-radius: 3px;
      height: 1.5rem;
      background-color: #848485;
      border: 1px solid #848485;
      padding: 3px 5px;
      font-size: 0.9rem;
      text-align: center;
      font-weight: 600; }
    .my-account .left-side .cart-row .cart-row_block img {
      margin-right: 15px;
      width: 4rem;
      height: 3rem; }

.my-account .left-side .note-block {
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 3px;
  background-color: #3c91e6; }

.subtotal, .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 15px; }
  .subtotal .subtotal-block, .total .subtotal-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #313131;
    padding: 15px;
    border-radius: 3px;
    min-width: 10rem; }
    .subtotal .subtotal-block .subtotal-block_row, .total .subtotal-block .subtotal-block_row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-size: 0.9rem;
      color: #e5e5e5;
      font-weight: 700; }
      .subtotal .subtotal-block .subtotal-block_row span:first-child, .total .subtotal-block .subtotal-block_row span:first-child {
        min-width: 5rem;
        text-align: right;
        font-weight: 400; }

.total span {
  font-size: 1.2rem; }
  .total span:last-child {
    color: #67c32e; }

@media (max-width: 1200px) {
  .two-column-layout .two-column-layout-column-1 {
    width: 100%;
    margin-right: 0px; }
  .two-column-layout .two-column-layout-column-2 {
    width: 100%; }
    .two-column-layout .two-column-layout-column-2 .buy-buttons {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .container .main-block {
    padding: 0px 15px; }
    .container .main-block .header {
      height: 3.5rem; }
    .container .main-block .middle-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .container .main-block .middle-block .left-side {
        /*text-align: center;*/
        width: 80%; }
        .container .main-block .middle-block .left-side .main-title {
          margin: 0px;
          font-size: 4rem; }
        .container .main-block .middle-block .left-side .subtitle {
          font-size: 1rem; }
      .container .main-block .middle-block .komodo-startpage {
        text-align: center;
        margin-bottom: unset; }
      .container .main-block .middle-block .right-side {
        margin-top: 15px;
        width: 80%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .container .main-block .middle-block .right-side .button, .container .main-block .middle-block .right-side .info-block {
          width: 40%; }
        .container .main-block .middle-block .right-side .info-block p {
          font-size: 1rem; }
    .container .main-block .my-account .left-side .text-block .release-info-block {
      padding-left: 0px; }
    .container .main-block .my-account .left-side .forgot-password {
      margin-left: 10.5rem; }
    .container .main-block .my-account .right-side {
      margin-top: 50px; }
    .container .main-block .my-account .cart-block {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .container .main-block .payment-methods-block {
      margin-top: 2rem; }
      .container .main-block .payment-methods-block img {
        width: 100%; }
    .container .main-block .subtotal, .container .main-block .total {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

@media (max-width: 1100px) {
  .container .main-block .middle-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .container .main-block .middle-block .left-side {
      width: 100%; }
      .container .main-block .middle-block .left-side .main-subtitle, .container .main-block .middle-block .left-side .title {
        display: none; }
      .container .main-block .middle-block .left-side img {
        max-width: 550px; }
    .container .main-block .middle-block .right-side {
      width: 100%; }
      .container .main-block .middle-block .right-side .button, .container .main-block .middle-block .right-side .info-block {
        width: 100%; } }

.spinnerblock {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .spinnerblock p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600; }
  .spinnerblock .spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative; }
  .spinnerblock .cube1, .spinnerblock .cube2 {
    background-color: #fff;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out; }
  .spinnerblock .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg); } }

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg); }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg); } }
